<li class="hidden sm:list-item">
  <% if page.current? %>
    <span class="inline-flex items-center justify-center w-9 h-9 text-sm font-medium rounded bg-blue-600 text-white"><%= page %></span>
  <% else %>
    <%= link_to page, url, remote: remote, rel: page.rel, class: "inline-flex items-center justify-center w-9 h-9 text-sm rounded text-gray-300 hover:bg-gray-800 hover:text-gray-100 transition-colors" %>
  <% end %>
</li>
